<section class="budget-items-section row justify-content-center">
    <div class="budget-items-container row">
        <div class="col-6 income-column pr-4">
            <h1>Income</h1>
            <app-budget-item-card></app-budget-item-card>
            <app-budget-item-card></app-budget-item-card>
        </div>

        <div class="col-6 expenses-column pl-4">
            <h1>Expenses</h1>
            <app-budget-item-card></app-budget-item-card>
            <app-budget-item-card></app-budget-item-card>
        </div>
    </div>
</section>
